<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
  <h1>Password Reset</h1>
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
{% endblock %}


</body>
</html>